      <div class="footer">
          <p><span class="text-left">
            <a href="http://twitter.com/UM_AAPS"><img src="{{site.imageurl}}/icons/github1.png" width="24" height="24"></a>
            <a href="http://github.com/umaaps"><img src="{{site.imageurl}}/icons/github.png" width="18" height="18"></a>
<!--            <a href="https://www.facebook.com/umaaps"><img src="{{site.imageurl}}/icons/facebook.png" width="24" height="24"></a> -->
            </span>
            <span class="pull-right">
            &#169; UM AAPS Student Chapter {{ site.time | date: '%Y' }} &middot; <a href="{{site.baseurl}}/about/">About Us</a> <span class="text-muted">Hosted on <a href="http://github.org/">GitHub</a></span>
            </span>
            </p>
      </div>
